
h1 {
  text-align: center;
  margin-top: 10%;
  font-family: Garamond;
}
h6{
  text-align: center;
  font-weight: lighter;
  font-family: Garamond;

}
#cake {
text-align: center;
font-size: 1000%;

}

.Form{
  text-align: center;

}


